<ion-header [translucent]="true">
    <ion-toolbar >
      <div class="bgtoolbar">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <div class="center">
        <ion-title>ร้านครัวป้าลัย</ion-title>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
<ion-grid>
  <ion-row>
<ion-col>
  <img src="assets/product/15promax.webp" alt="">
  <ion-label>
    <div class="center">
iPhone 15 Pro Max <br>
ราคา 44,900 บาท <br>
<ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
    </div>
  </ion-label>
</ion-col>
<ion-col>
  <img src="assets/product/f23fe.webp" alt="">
  <ion-label>
    <div class="center">
 Samsung s23 fe<br>
ราคา 3333333333 บาท <br>
<ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
    </div>
  </ion-label>
</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="assets/product/ipadair5.webp" alt="">
      <ion-label>
        <div class="center">
    iPad Air 5<br>
    ราคา 9999999 บาท <br>
    <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
        </div>
      </ion-label>
    </ion-col>
    <ion-col>
      <img src="assets/product/mi-14tpro.jpg" alt="">
      <ion-label>
        <div class="center">
    MI-14T Pro <br>
    ราคา 5651561 บาท <br>
    <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
        </div>
      </ion-label>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/product/mipad5.jpg" alt="">
          <ion-label>
            <div class="center">
        MI Pad 5 <br>
        ราคา 845455 บาท <br>
        <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/product/s24.webp" alt="">
          <ion-label>
            <div class="center">
         Samsung s24<br>
        ราคา 58156181 บาท <br>
        <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="assets/product/ts9.jpg" alt="">
              <ion-label>
                <div class="center">
            Samsung Tap s9<br>
            ราคา 495661484941591 บาท <br>
            <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
                </div>
              </ion-label>
            </ion-col>
            <ion-col>
              <img src="assets/product/vivo-y20.png" alt="">
              <ion-label>
                <div class="center">
            vivo Y20 <br>
            ราคา 165416 บาท <br>
            <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
                </div>
              </ion-label>
            </ion-col>
              </ion-row>

</ion-grid>
  </div>
</ion-content>
